@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 100%, 74%);
  --dark-red: hsl(0, 100%, 63%);
  --green: hsl(154, 59%, 51%);
  --light-green: hsl(147, 79%, 50%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --gray-blue: hsl(246, 25%, 77%);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--red);
}

main {
  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 100vh;
  background-color: var(--red);
  background-image: url('./assets/bg-intro-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3px;
}

footer {
  text-align: center;
  color: #fff;
  padding: 2em 0;
  line-height: 2;
}

footer a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

/* Intro section  */
.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  color: #fff;
  width: 100%;
  max-width: 450px;
  text-align: center;
  min-height: 70vh;
}

.title {
  font-size: 2em;
}

.description {
  line-height: 1.8;
  font-size: 0.9em;
  padding: 1em;
}

/* Form component  */
.form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  gap: 1em;
}

.ads-block {
  background-color: var(--blue);
  color: #fff;
  border-radius: 10px;
  padding: 1em 2em;
  text-align: center;
  box-shadow: 0px 5.3px 3px -1px rgba(0, 0, 0, 0.057),
    0px 7.9px 4.4px -1px rgba(0, 0, 0, 0.083),
    0px 15px 9px -1px rgba(0, 0, 0, 0.14);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  padding: 2em;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 5.3px 3px -1px rgba(0, 0, 0, 0.057),
    0px 7.9px 4.4px -1px rgba(0, 0, 0, 0.083),
    0px 15px 9px -1px rgba(0, 0, 0, 0.14);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.input-container > small {
  align-self: flex-end;
  font-size: 0.6em;
  color: var(--red);
  font-style: italic;
}

.form-group {
  padding: 0.75em;
  border-radius: 5px;
  border: solid 1px var(--gray-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group.invalid {
  border: solid 2px var(--red);
}

.form-group:focus-within {
  border: solid 1px var(--dark-blue);
}

.form-input {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  flex: 1;
}

.form-input:focus {
  outline: none;
}

.form-input::placeholder {
  color: var(--gray-blue);
}

.submit-btn {
  background-color: var(--green);
  border-radius: 8px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.05em;
  padding: 1em;
  transition: all 0.3s;
  appearance: none;
  border: none;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgb(3, 181, 3) 0 -3px 0 inset;
  cursor: pointer;
  line-height: 1;
  transition: all 0.15s;
}

.submit-btn:hover {
  background-color: var(--light-green);
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgb(3, 181, 3) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submit-btn:active {
  box-shadow: rgb(3, 181, 3) 0 3px 7px inset;
  transform: translateY(2px);
}

.signup-form > small {
  font-size: 0.6em;
  color: var(--gray-blue);
  text-align: center;
}

.signup-form > small > a {
  text-decoration: none;
  color: var(--red);
}

.signup-form > small > a:hover {
  color: var(--dark-red);
}

/* Userlist view  */
.user-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  max-height: 300px;
  overflow-y: auto;
  border-top: solid 1px var(--blue);
}

.user-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding: 0.25em;
}

.user-list > li > div {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.profile-logo {
  background-color: var(--blue);
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: solid 2px var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Desktop version  */
@media (min-width: 769px) {
  main {
    grid-template-columns: 1fr 1fr;
    background-image: url('./assets/bg-intro-desktop.png');
  }
  .intro-section {
    text-align: left;
    padding-left: 2em;
  }
  .title {
    font-size: 2.5em;
  }
  .description {
    padding: 0;
    font-size: 1em;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
